.custom-input {
    width: 100%;
    margin-bottom: 1rem;
}

.recent-transaction-table {
    margin-top: 1.5rem;
}

.customer-account-highlight {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.8rem 2rem;
    background-color: white;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.customer-snap-view h1 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.customer-snap-view>p {
    font-size: 1rem;
    font-weight: bolder;
    color: #cccccc;
}

.account-summary-view {
    /* padding: 0.5rem; */
}

.account-summary-view p {
    margin: 0;
    border: 1px solid whitesmoke;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.account-summary-view p span {
    font-weight: bolder;
    text-transform: capitalize;
}

.customer-image-wrapper a {
    text-decoration: none;
    border: 1px solid darkblue;
    width: 100%;
    display: block;
    text-align: center;
}

.image {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* account transaction actions */
.account-transaction-actions {
    margin-top: 1rem;
}

.customer-account-type-switch {
    background: whitesmoke;
    margin: -0.8rem 0 -0.8rem -2rem;
    padding: 10px 16px;
    width: 190px;
    max-width: 100%;
}
.account-type-label {
    background: blueviolet;
    color: #fff;
    padding: 2px 16px;
    margin: -0.7rem -16px 0 -16px;
    border-radius: 5px 0 0 0;
}
.customer-selected-account {
    margin-top: -13px;
    margin-bottom: 10px;
    color: blueviolet;
    font-size: 20px;
    text-transform: uppercase;
}
#resetSwitchInput {
    padding: 11px !important;
}
.customer-account-type-cta {
    margin: 39px -6px 0 -6px;
}
#addAccountCta {
    display: block;
    background: #8a2be238;
    color: blueviolet;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.customer-detail-wrapper {
    width: inherit;
}


/* MEDIA QUERIES */
@media(max-width: 511px) {
    .customer-account-highlight {
        flex-direction: column-reverse;
    }
    /* .inline-wrapper {
        display: block;
    } */
.customer-account-type-switch {
    margin: 0;
    width: 100%;
}
.customer-account-type-switch {
    margin-bottom: 13px;
}


}
