.page-grid-layout {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.page-side-data {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 450px;
}

.page-table-section {
    width: 100%;
}

.table-top-section {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;

}

#tableSearch {
    width: 300px !important;
    max-width: 100%;
    padding: 13px !important;
}

.add-link {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    text-transform: uppercase;
    font-size: 14px;
}

.custom-table-responsive {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow-x: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: -20px;
    margin-left: -20px;
}

.custom-table,
th,
td {
    /* border: 1px solid; */
    text-transform: capitalize;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 0.5rem 1rem;
    text-align: left;
}

.table-head,
.table-body {
    white-space: nowrap;
}

.table-body tr {
    border-top: 1px solid #eee;
}

.table-head th {
	text-transform: uppercase;
	background: whitesmoke;
	color: cadetblue;
	font-weight: normal;
}

.profit-col {
    background: beige;
}

.table-cta-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap-reverse;
    margin: 10px 0;
    justify-content: space-between;
}

.table-cta-btn {
    background: none;
    border: 1px solid #ddd;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
}

#addNewAdmin {
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    background-color: lawngreen;

}

.table-actions-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table-global-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.table-global-action select {
    background-color: inherit;
    border: 1px solid #dddddd;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
}

.inline-edit {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkIcon {
    color: lawngreen;
}

.inline-select {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    background-color: initial;
}

.table-subaction-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#addBtn {
    border: 1px solid black;
    padding: 0.375rem 2rem;
    border-radius: 5px;
}

.table-stats small {
    border: 1px solid #ddd;
    border-radius: 5px;

}

.cta-btn {
    background: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: inherit;
}

.cta-btn:hover {
    background: #000;
    color: #fff;
    border: 1px solid transparent;
}

.cta-btn-border {
    border: 1px solid #000;
}

.unit-prices-wrapper {
    width: fit-content;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.price-unit-label {
    background: #979090;
    color: #fff;
    border-radius: 5px 0 0 5px;
}

.price-unit-label,
.price-unit-value,
.stock-unit-label {
    padding: 2px 4px;
}

.stock-unit-label {
    background: bisque;
    border-radius: 5px 0 0 5px;
}


.custom-selection-filter {
    /* width: 300px; */
    /* background-color: #BCC2C1; */
}

.select-checkboxes {
    background: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    right: 0;
    top: 33px;
    color: initial;
    min-width: 150px;
}

.select-box select {
    width: 100%;
    font-weight: bold;
}

#checkBoxes label {
    display: block;
}

.custom-align {
    display: flex;
    align-items: center;
    gap: 7px;
}

.select-box select {
    background: none;
}

#applyFilter {
    width: 100%;
    background: #000000ad;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-top: 17px;
}

.inline-image-upload {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}

.imgPreview {
    width: 50px;
}

.inline-image-input,
.inline-image-label {
    position: absolute;
    width: inherit;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.inline-image-input {
    opacity: 0;
}

.inline-image-label {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-image-upload img {
    width: 100%;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    text-indent: 100%;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.custom-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.total-record-count {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.image-upload-success {
    width: 15px;
    height: 15px;
    display: flex;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    bottom: -4px;
    right: -9px;
    background: green;
}

.filter-and-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.dropdown-wrapper {
	box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
	border-radius: 5px;
	padding: 7px 11px;
}

#recordPerPage,
.filter-wrapper {
    background: inherit;
    background-color: bisque;
    padding: 11px 11px;
}

#recordPerPage,
.custom-pagination,
.filter-wrapper{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    border: 1px solid transparent;

}

.filter-wrapper,
.dropdown-wrapper{
    text-transform: capitalize;
    background: #fff;
    border: 1px solid #bfbebe;
}

.custom-pagination {
    padding: 7px 11px;
    background-color: bisque;
}
.custom-pagination span,
.custom-pagination button,
.custom-pagination a{
    background-color: inherit !important;
}
.filters-and-pagination {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.external-filters-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.custom-dropdown-content {
    position: absolute;
    background: whitesmoke;
    top: 100%;
    z-index: 51;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    right: 0;
    /* width: max-content;
    min-width: 150px; */
}

.custom-dropdown-btn {
    display: block;
    width: 100%;
    text-align: start;
    margin: 5px 0;
    padding: 6px 20px;
    background: inherit;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-transform: capitalize;
    border-radius: 5px;
    min-width: 130px;
}

#customToggler {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
}

.custom-dropdown-btn:hover {
    background-color: #ebebeb;
}

.select-filter {
    cursor: pointer;
    -webkit-appearance: initial;
    appearance: inherit;
}

.chevron-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.table-and-loading {
    position: relative;
}

.full-table-loading {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.loading-spinner {
    margin: 100px 49%;
}

.main-content-wrapper {
    position: relative;
}

.side-modal-panel,
.side-modal-overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

.side-modal-overlay {
    left: 0;
    background: #00000012;
    z-index: 4;
}

.side-modal-panel {
	z-index: 999999;
	background: white;
	padding: 20px;
	min-width: 500px;
	max-width: 100%;
	box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
	overflow-y: auto;
}

.side-modal-heading-wrapper {
    border-bottom: 1px solid #dddddd8a;
    margin: -20px -20px auto -20px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal {
    background: antiquewhite;
    border-radius: 50%;
    padding: 6px;
}

.record-count {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    max-width: 520px;
    flex-wrap: wrap;
}

.reset-table-filters {
    background: aquamarine;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.table-card-item-wrapper {
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 15px 0;
}

.card-item-image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex-shrink: 0;
}

.card-item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.table-card-item {
    display: flex;
    gap: 10px;
}

.inline-wrapper {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}
.table-card-cta {
    margin-top: 20px;
}

.card-item-wrapper {
    margin-bottom: 5px;
}

.item-label2 {
    font-size: 12px;
    margin: 0;
}

.inline-edit-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 65px;
}

/* .inline-edit-wrapper span {
    display: none;
} */

.inline-is-inactive {
    color: #0000007a;
}

.inline-is-inactive:hover {
    color: green;
}

.inline-edit-wrapper:hover>span {
    display: inline-block;
    color: #000;
}

.default-table-wrapper {}

.default-table-heading-wrapper {}

.default-table-border {
    border: 1px solid #ddd;
}

.default-custom-table {
    background-color: white;
}

.table-with-heading-wrapper,
.search-and-listing {
    background: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.table-with-heading-wrapper{
    padding: 0 20px;
}
.search-and-listing{
    padding: 10px 15px;
}

.table-heading-wrapper {
    border-bottom: 1px solid #dddddd8f;
    margin: 0 -20px;
    padding: 10px 20px;
}

.table-stats-summary,
.table-inline-stats-summary {
    min-height: 50px;
    background: #ff69b412;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hotpink;

}

.table-stats-summary {
    border-radius: 5px;
    padding: 0 20px;
}

.table-inline-stats-summary {
    margin: 0 -20px;
    padding: 3px 20px;

}

.inline-stats-items {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    overflow-x: auto;
}

.inline-stat-item {
    padding: 3px 10px;
    line-height: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 5px;
    border: 1px solid;
}

.inline-stats-label {
    font-size: 20px;
    /* border: 1px solid; */
    max-width: 260px;
    line-height: 21px;
}

.inline-stat-item-value {
    font-size: 20px;
    font-weight: bold;
}

.heading-sub-label {
    line-height: 0.5;
    color: #00000069;
    text-transform: lowercase !important;
}

.selected-tab-items {
    position: relative;
}

td.color-code-green,
span.color-code-green {
    color: green !important;
}

td.color-code-red,
span.color-code-red {
    color: red !important;
}

.item-listings-wrapper {
    margin: 10px 0;
}

.as-card-item {
    display: flex;
    gap: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
}

.as-card-item-plain {
    display: flex;
    gap: 15px;
    padding: 10px 16px;
    border-top: 1px solid #ddd;
    margin: 0 -16px 0 -16px;
    align-items: center;
    justify-content: space-between;
}
.card-item-info {
    width: 100%;
}
.card-item-info-detail {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.card-item-details {
    display: flex;
    gap: 10px;
    width: 100%;
}

.card-item-name {
    font-weight: 500;
    text-transform: capitalize;
}

.card-inline-items {
    display: flex;
    gap: 10px;
    align-items: center;
}
.card-item-modal-image {
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -16px 0 -16px;
    height: 170px;
    padding: 15px;
}

.card-item-modal-image img {
	width: 50%;
	height: 100%;
	object-fit: contain;
}

.card-item-modal-cta {
    display: block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

#modalDelete {
    background: #ff45003b;
    border: none;
    color: orangered;
}

.filter-trigger {
	display: flex;
	align-items: center;
	gap: 5px;
	height: 39px;
}

.mobile-page-filters {
    display: flex;
    overflow-x: auto;
    text-wrap: nowrap;
    padding: 10px 16px;
    gap: 10px;
    margin: 0 -16px;
}

.mobile-more-trigger {
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
th:last-child,
td:last-child {
    text-align: right;
}

.statment-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px 0;
    /* width: 80%; */
}
.statement-table-head {
    background: #dfdff7;
    color: darkblue;
}
.table-more-item-wrapper {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.more-item-label {
	text-transform: capitalize;
	color: #999;
}

/* MEDIA QUERIES */
@media(max-width: 520px) {

    .table-stats-summary,
    .table-inline-stats-summary {
        flex-wrap: wrap;
    }

    .inline-stats-label {
        min-width: 100%;
    }
}


@media(max-width: 768px) {
    .custom-table-responsive {
        overflow-x: auto;
    }

    .table-head,
    .table-body {
        white-space: nowrap;
    }

    .side-modal-panel,
    .side-modal-overlay {
        top: 0;
        position: fixed;
    }

    .side-modal-panel {
        z-index: 999999;
        background: white;
        padding: 20px;
        min-width: 80%;
        max-width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;
    }

    .main-content-wrapper {
        position: initial;
        padding-bottom: 120px;
    }

    .page-cta-wrapper-items {
        /* display: none; */
    }

    .search-input-and-results {
        width: 100%;
    }

    .card-item-modal-cta,
    .modal-cta-item {
        display: block;
        width: 100%;
        margin: 10px 0;
        border: 1px solid #ddd;
        text-align: center;
        padding: 10px;
        text-transform: capitalize;
    }

    #tableSearch {
        width: 100% !important;
        font-size: 16px;
        padding: 13px 15px !important;
        background: #fff !important;
    }

    .page-cta-wrapper-items.mobile-cta {
        background: #fff;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 101;
        width: 70%;
        padding: 10px;
    }

    .page-cta-wrapper-items.mobile-cta * {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .selected-tab-items {
        position: inherit;
    }
}

@media(max-width: 991px) {
    .custom-pagination-wrapper {
        padding: 10px 0;
    }
    .filter-and-nav {
        gap: 10px;
    }

    .search-input-and-results {
        display: flex;
        gap: 10px;
        margin: 5px 0;
    }

    .table-search {
        width: 100%;
    }

    .mobile-cta-btn {
        width: 100%;
        display: block;
        border: 1px solid #ddd;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: small;
        border-radius: 5px;
        padding: 13px;
    }
}

@media(min-width: 992px) {
    .custom-pagination-wrapper {
        margin: 10px 0;
    }
}
