#brandLogo {
	width: 50%;
	margin-bottom: -7px;
	margin-top: 3px;
}
.application-logo p {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #d2691e;
}
button,
select{
    color: initial;
}
/* .dashboard-head-section {
	min-height: 58px;
} */

#statementCta {
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
}


.standard-btn,
.btn-red,
.btn-green,
.btn-light-green {
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 13px;
    cursor: pointer;
    font-size: inherit;
}
.standard-btn{
    background-color: #000;
    display: inline-block;
}

.btn-red{
    background-color: #ff4500;
}
.btn-light-green {
    background-color: #0080001c;
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
.dim-text {
	color: #00000050;
}
.mt {
	margin-top: 1rem;
}
.custom-btn {
    padding: 10px 11px;
    background: none;
    border: 1px solid #bfbebe;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: smaller;
}

.page-instruction-note {
	margin: 1rem 0;
}
.page-instruction-note p {
	font-size: 18px;
	/* margin: 0; */
	color: darksalmon;
	font-weight: bold;
}

.two-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.custom-form-wrapper{
	display: grid;
	grid-template-columns: 2fr 4fr;
	gap: 1rem;
}
.remove-image {
	background: #ff450047;
	color: orangered;
	padding: 0.5rem 0.8rem;
	border-radius: 5px;
}

.images-cta {
	display: flex;
	align-items: center;
}
.remove-margin {
	margin: 0 !important;
}

.category-inline-form {
	display: flex;
	align-items: center;
	gap: 1rem;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #008000;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #008000;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.dashboard-head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
}
.quick-link-item {
    display: block;
    margin: 0 -10px;
    padding: 5px 10px;
}
.quick-link-item:hover {
	background: #fff;
}
.quick-transactions>*:not(:last-child) {
    border-bottom: 1px solid #80008057;
}
.dashboard-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    overflow: auto;
    /* border: 1px solid; */
    white-space: nowrap;
}
.breadcrumb-item{
    text-transform: capitalize;
    font-size: 18px;
}
.base-page {
	font-weight: bold;
	color: cornflowerblue;
}
.is-active{
    background-color: #f0f8ff;
    border-right: 3px solid rgb(10, 26, 41) !important;
}
.active-submenu {
    background: aquamarine;
}

.dark-active-bottom {
    border-bottom: 3px solid #cd5c5c;
}
#activeTab,
.active-tab {
	border-bottom: 2px solid;
}

.new-active-bottom, 
.new-active-tab,
.active-tab,
#activeTab {
	background: #fff;
	padding: 5px 7px;
	border-radius: 7px;
	box-shadow: #00000029 0 1px 4px;
	border-bottom: none !important;
}
.card-wrapper {
    border-radius: 5px;
    padding: 10px 20px;
}

.dark-mode-text {
    color: #ffffffc7 !important;
}

.dark-mode-border-bottom {
    border-bottom: 1px solid #f5f5f54f;
}

.dmode-input-bg {
    background: rgba(255, 255, 255, 0.09);
    color: #fff;
    margin: 10px 0;
}

.dmode-element-bg {
    background: rgba(255, 255, 255, 0.09);
}

.dmode-table tr {
    border-top: 1px solid #f5f5f54f;
}

.wrapper-medium {
    max-width: 768px;
}

/* grids */
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 0 10px;
}
.gr-1{
    grid-column: 1/4;
    grid-row: 1;
}
.gr-2{
    grid-row: 2;
}
.gr-3 {
    grid-row: 3;
}

.gr-4 {
    grid-row: 4;
}

.gr-5 {
    grid-row: 5;
}

.border-pink {
    border: 1px solid lightpink;
}

.pills-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.view-pill {
	background: whitesmoke;
	border-radius: 50px;
	font-size: small;
	align-items: center;
	justify-content: center;
	display: inline-block;
	padding: 0 7px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.active-pill,
.inactive-pill,
.standard-pill,
.error-pill {
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 13px;
    color: #000000ba;
    text-transform: lowercase;
}

.active-pill {
    background: aquamarine;
}

.inactive-pill {
    background: rgba(130, 131, 131, 0.55);
}

.standard-pill {
    background: aqua;
}
.error-pill {
    background: rgba(255, 0, 0, 0.3);
}

.error-bg {
	background-color: rgba(255,69,0,0.08);
	color: orangered;
	padding: 10px;
	font-size: 15px;
	line-height: 1;
}

.custom-tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.custom-pill-wrapper {
    padding: 10px 0;
    max-width: 352px;
}

.dark-border {
    border: 1px solid;
}
.withdrawal,
.loan,
.pending,
.approved,
.editAction,
.deleteAction,
.pending-status,
.approved-status,
.withdrawLoan,
.viewAction,
.deposit,
.sent,
.loan-approved,
.approve-action,
.decline-action,
.declined,
.edit-action,
.pending-status,
.source-pill,
.lemon-pill {
    padding: 1px 12px;
    border-radius: 50px;
    font-size: small;
    display: inline;
}

.deposit,
.sent,
.source-pill {
    background-color: rgba(7, 162, 135, 0.08);
    color: #07a287;
}

.withdrawal {
    background-color: rgba(252, 165, 73, 0.08);
    color: #FCA549;
}

.loan,
.pending {
    background-color: rgba(255, 69, 0, 0.11);
    color: orangered;
}
.approved{
    background-color: #008000;
    color: green;
}
.loan-approved {
    /* background-color: rgba(255, 69, 0, 0.25); */
    color: green;
}
.approve-action {
    color: green;
    background-color: rgba(0, 128, 0, 0.15);
}
.decline-action,
.declined {
    color: red;
    background-color: rgb(255, 0, 0, 0.15);
}
.edit-action {
    color: purple;
    background-color: rgba(128, 0, 128, 0.15);
}

.to-upper{
    text-transform: uppercase !important;
}
/* flash messages */
.success,
.rejected {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    width: 100%;
}

.rejected {
    background-color: rgba(255, 69, 0, 0.08);
    color: orangered;
}
.lemon-pill {
	background-color: #32cd3229;
	color: limegreen;
}
.success-bg {
    background-color: rgba(0, 128, 0, 0.08);
    color: green;
}
.alert-dark-bg {
    background-color: rgba(0, 128, 0, 0.08);
    color: #19df19;
    background: #000;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.error-dark-theme {
	background: #403e3e;
	border-radius: 50px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
	color: #f6c467;
}
.alert-closer {
	border: 1px solid;
	border-radius: 50px;
}
.custom-alert-wrapper {
    padding: 3px 16px;
    width: 100%;
    position: relative;
    z-index: 6;
}
.progress-indicator {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.rotation-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-border {
    border: 2px solid;
    border-bottom-color: transparent;
}

.dark-loader {
    color: #00000047;
}

.green-loader {
    color: green;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.countdown-ring {
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 1rem;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.countdown-bg {
    stroke: #fff;
}

.countdown-progress {
    stroke: green;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.1s linear;
}

.fade-enter {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-enter-active {
    opacity: 1;
}
.onboard-heading-text {
    font-size: xx-large;
    color: darkcyan;
    font-weight: bold;
}
.onboard-note {
    font-size: 18px;
    font-weight: lighter;
}
.custom-accordion-cta {
    background: bisque;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 5px 5px 0 0;
}
.blueviolet-bg {
    background-color: blueviolet;
    color: #fff;
}
.account-search-mode-wrapper {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 14px;
    gap: 10px;
}
.account-search-mode-label{
    padding: 5px 10px;
    border-radius: 5px;
}
.account-search-mode-value {
    background: #8a2be247;
    color: blueviolet;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;

}
.clean-margin {
    margin: 10px 0;
}
.general-stat-item {
    width: 100%;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 8px;
}
.general-stat-item p {
    font-weight: bold;
    font-size: 1.3rem;
}
.general-stat-item span {
    text-transform: uppercase;
    font-size: 13PX;
}
.check-highlight {
    background: yellow;
}
.special-label-input {
    display: flex;
    width: fit-content;
    width: 143px;
    text-wrap: nowrap;
    gap: 6px;
    font-weight: bold;
}
.bg-green {
    background: green !important;
}
.as-relative{
    position: relative;
}
.as-absolute{
    position: absolute;
}
.absolute-editable-wrapper {
    position: absolute;
    right: 54px;
    bottom: 0;
    top: -13px;
    width: max-content;
}
.absolute-editable-icon {
    position: absolute;
    right: 0;
    gap: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
}
.small{
    font-size: 14px;
}
.as-bold{
    font-weight: bold !important;
}
.grid-auto-fill {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
	gap: 1rem;
	margin: 10px 0;
}
.as-grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(353px,1fr));
	gap: 1rem;
	margin: 10px 0;
}
.chart-grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
	gap: 1rem;
	margin: 10px 0;
}
.antiquewhite {
	background-color: antiquewhite !important;
}
.card-item-label {
	text-transform: capitalize;
}


.mobile-bottom-menu {
	background: #F4E0F4;
	position: fixed;
	bottom: 10px;
	margin-top: 500px;
	box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
	padding: 1px 12px;
	box-shadow: rgba(0,0,0,0.12) 0px 1px 3px,rgba(0,0,0,0.24) 0px 1px 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 97;
	border-radius: 50px;
	right: 10px;
}
.mobile-bottom-full{
    left: 10px;
}
.fit-trigger {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	display: flex;
	align-items: center;
	line-height: 1;
	justify-content: space-evenly;
}
.bottom-menu-item {
	text-align: center;
	padding: 5px 1px;
}
.bottom-menu-item-label {
	font-size: 11px;
}
.bottom-menu-item-icon {
    display: flex;
    justify-content: center;
}
/* .site-search-wrapper {
	position: relative;
    width: 100%;
} */
.search-box {
	border-radius: 5px;
	width: 100%;
	margin-top: 6px;
}

.global-search-input {
	width: 100%;
	padding: 15px;
	border-radius: inherit;
	background: #fff !important;
    outline: none;
}
.light-close {
	background: whitesmoke;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom-border{
    border-bottom: 1px solid #ddd;
}
.item-info-alert {
	display: flex;
	align-items: center;
}
.deleted-pill {
	background: #ff45001c;
	color: red;
	padding: 1px 12px;
	display: inline;
	border-radius: 50px;
	font-size: 15px;
}
#toRepayment {
	display: block;
	margin: 20px 0;
	width: 100%;
	background: #32cd3261;
	color: green;
	text-transform: capitalize;
}
.accordion-wrapper {
	margin: 10px 0;
	border-bottom: 1px solid #ddd;
}
.accordion-cta-wrapper {
	border-bottom: 1px solid #ddd;
}
.accordion-item {
	background: aliceblue;
	padding: 0 10px;
	margin-bottom: 20px;
}
.profile-quick-actions {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 15px;
}
.profile-quick-actions button {
	background: none;
	text-decoration: none;
}
.profile-cta {
	border: 1px solid #ddd;
	padding: 10px 15px;
	border-radius: 5px;
	line-height: 1;
}
.edit-rate {
	background: none;
	border: 1px solid #ddd;
	padding: 5px 13px;
	border-radius: 50px;
}
.tab-next-btn {
	position: absolute;
	right: 16px;
	padding: 0px 10px;
	font-size: 22px;
	background: bisque;
}
.as-desktop-search-trigger {
	position: fixed;
	top: 16px;
	right: 112px;
}
.global-search-results {
	width: 100%;
	min-height: inherit;
	padding: 10px 20px;
    /* margin: 0 44px; */
}


.desktop-search-overlay,
.desktop-search-results-wrapper{
    position: fixed;
	right: 1px;
	left: 300px;
	top: 0;
}

.desktop-search-results-wrapper {
	background: #fff;
	min-height: 458px;
	z-index: 9999;
	padding: 16px;
	margin: 0 44px;
	border-radius: 10px;
	margin-top: 64px;
}
.desktop-modal {
	background: #fff;
	height: 458px;
	/* border: 1px solid; */
	z-index: 9999;
	/* position: absolute; */
	max-width: 760px;
	margin: 20% auto;
	border-radius: 10px;
}
.desktop-search-overlay {
	background: #00000012;
	height: 100vh;
	z-index: 9989;
}
#desktopSearchBox,
#searchInputBg{
	position: absolute;
	top: 9px;
	max-width: 400px;
	right: 104px;
	border-radius: 50px;
	z-index: 99999;
	background: #ff69b412 !important;
	color: red;
	border: 1px solid #ff69b454;
}

#searchInputBg {
	background: #fffffff5 !important;
	width: 400px;
	height: 48px;
	z-index: 99988;
}
.deployer-btn {
	background: #0080003d;
	color: green;
	border: 1px solid;
}

/* MEDIA QUERIES */
@media(max-width: 350px){
    .custom-form-wrapper{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 520px){
    .as-grid-layout,
    .chart-grid-wrapper {
        display: block;
        margin: 10px 0;
    }
}
@media(min-width: 521px){
    .mobile-bottom-menu{
        display: none !important;
    }
}
@media(max-width: 768px){
    .two-col {
        grid-template-columns: 1fr;
        gap: 0;
    }
}
@media(max-width: 991px){
    .mobile-search-form {
        position: fixed;
        z-index: 101;
        background: #fff;
        right: 0;
        left: 0;
        bottom: 0;
        height: 91%;
        padding: 10px 14px;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word;
        border-radius: 15px 15px 0 0;
        transform: translateY(100%);
        transition: transform 0.4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .mobile-search-form.show {
        transform: translateY(0%);
    }
    .menu-overlay {
        position: absolute;
        background: #0000005c;
        height: 100%;
        right: 0;
        left: 0;
        top: 0;
        z-index: 98;
    }
    .search-box{
        border: none !important;
    }
    .search-input-cta {
        width: 100%;
        border: 1px solid #ddd;
        position: relative;
        border-radius: 50px;
    }
    .close-mobile-search{
        position: absolute;
        right: 6px;
    }
    .search-ctas {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;
    }
    .top-search-item{
        background-color: #fff;
    }
    #clearTerm {
        position: absolute;
        right: 5px !important;
        top: 5px !important;
    }
    .search-item-wrapper {
        background: #fff;
    }
}
@media(max-width: 1400px){
    .custom-form-wrapper{
        grid-template-columns: 350px 4fr;
    }
}
@media(min-width: 992px){
    .tab-next-btn {
        right: 47px;
    }
}
