.global-layout {
    max-width: 1200px;
    margin: auto;
}
.global-layout.custom-padding {
    padding: 19px 0 !important;
}
#brandLogo {
	width: 50%;
	margin-bottom: -7px;
	margin-top: 3px;
}
.application-logo p {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #d2691e;
}
button,
select{
    color: initial;
}
/* .dashboard-head-section {
	min-height: 58px;
} */
.standard-btn,
.btn-red,
.btn-green{
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}
.standard-btn{
    background-color: #000;
    margin: 1rem 0;
    display: inline-block;
}
.btn-red{
    background-color: #ff4500;
}
.btn-green{
    background-color: #008000;
}
.dim-text {
	color: #00000050;
}
.mt {
	margin-top: 1rem;
}
.custom-btn {
    padding: 14px;
    background: none;
    border: 1px solid #bfbebe;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: smaller;
}

.page-instruction-note {
	margin: 1rem 0;
}
.page-instruction-note p {
	font-size: 18px;
	/* margin: 0; */
	color: darksalmon;
	font-weight: bold;
}

.two-col{

}
.custom-form-wrapper{
	display: grid;
	grid-template-columns: 2fr 4fr;
	gap: 1rem;
}
.remove-image {
	background: #ff450047;
	color: orangered;
	padding: 0.5rem 0.8rem;
	border-radius: 5px;
}

.images-cta {
	display: flex;
	align-items: center;
}
.remove-margin {
	margin: 0 !important;
}

.category-inline-form {
	display: flex;
	align-items: center;
	gap: 1rem;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #008000;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #008000;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dashboard-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 7px auto;
}
.breadcrumb-item{
    text-transform: capitalize;
    font-size: 18px;
}
.base-page {
	font-weight: bold;
	color: cornflowerblue;
}
.is-active{
    background-color: #f0f8ff;
    border-right: 3px solid rgb(10, 26, 41) !important;
}
.active-submenu {
    background: aquamarine;
}

.dark-active-bottom {
    border-bottom: 3px solid #cd5c5c;
}

.card-wrapper {
    border-radius: 5px;
    padding: 10px 20px;
}

.dark-mode-text {
    color: #ffffffc7 !important;
}

.dark-mode-border-bottom {
    border-bottom: 1px solid #f5f5f54f;
}

.dmode-input-bg {
    background: rgba(255, 255, 255, 0.09);
    color: #fff;
    margin: 10px 0;
}

.dmode-element-bg {
    background: rgba(255, 255, 255, 0.09);
}

.dmode-table tr {
    border-top: 1px solid #f5f5f54f;
}

.wrapper-medium {
    max-width: 768px;
}

/* grids */
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 0 10px;
}
.gr-1{
    grid-column: 1/4;
    grid-row: 1;
}
.gr-2{
    grid-row: 2;
}
.gr-3 {
    grid-row: 3;
}

.gr-4 {
    grid-row: 4;
}

.gr-5 {
    grid-row: 5;
}

.border-pink {
    border: 1px solid lightpink;
}

.pills-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.active-pill,
.inactive-pill,
.standard-pill {
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 13px;
    color: #000000ba;
}

.active-pill {
    background: aquamarine;
}

.inactive-pill {
    background: rgba(130, 131, 131, 0.55);
}

.standard-pill {
    background: aqua;
}


.custom-tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.custom-pill-wrapper {
    padding: 10px 0;
    max-width: 352px;
}

.dark-border {
    border: 1px solid;
}
.l-green {
    background: #0080001c;
    color: green;
}
.l-gold {
    background: #daa5202e;
    color: goldenrod;
}
.l-red {
    background: #ff45001c;
    color: orangered;
}
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.rotation-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.dark-loader-border {
    border: 3px solid #00000047;
    border-bottom-color: transparent;
}

.dark-loader-border {
    border: 3px solid #00000047;
    border-bottom-color: transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.in-modal-notification {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.success-notification {
    display: flex;
    padding: 15px;
    border-radius: 100px;
    background-color: #4CAF5054;
    color: #4CAF50;
    font-weight: bold;
    width: 150px;
    margin: 10px auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.check-icon {
    font-size: 40px;
}

.ballon-notification {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background-color: #ff6f61;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.ballon-notification.show {
    top: 57px;
    opacity: 1;
}

.ballon-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.small-text {
	font-size: 15px;
}

/* MEDIA QUERIES */
@media(max-width: 1520px) {
    .global-layout {
        padding: 0 2rem;
    }
}
@media(max-width: 1400px){
    .custom-form-wrapper{
        grid-template-columns: 350px 4fr;
    }
}

@media(max-width: 768px) {
    .global-layout.custom-padding {
        padding: 19px !important;
    }
}
@media(max-width: 350px){
    .custom-form-wrapper{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 520px) {
    .global-layout {
        padding: 0 1rem !important;
    }
}
