.action-modal {
    display: block;
    position: fixed;
    z-index: 95;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.vote-auth {
    width: 100%;
    margin: auto;
    margin: 1rem 0;
}

.vote-auth input {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.361);
    border-radius: 5px;
    padding: 0.8rem;
    width: inherit;
    outline: none;
}

.auth-input {
    margin-bottom: 1rem;
    width: 100%;
}

.modal-header {
    border-bottom: 1px solid whitesmoke;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    font-weight: 601;
    text-transform: capitalize;
}

.modal-body {
    height: 60vh;
    padding: 2px 16px;
    overflow-y: auto;
}

.login-alert-modal {
    padding: 2rem;
}

.custom-input-wrapper input {
    padding: 0.5rem 0.75rem !important;
}

.custom-form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.auth-action-wrapper {
    display: flex;
    gap: 1rem;
}

.modal-heading {
    text-align: center;
}

.modal-heading-2 {
    margin-left: -16px;
    margin-right: -16px;
    padding: 6px 16px;
    border-bottom: 1px solid #ddd;
}

.modal-heading-2 h1,
.modal-heading-2 h2,
.modal-heading-2 h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-input {
    margin: 0.5rem 0;
}

.hint-info-wrapper small {
    cursor: pointer;
}

.delete-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#cancelModal,
#confirmBtn,
#submitBtn {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--general-border-radius);
    font-weight: bold;
    margin: 0.5rem 0;
}

#cancelModal {
    border: 1px solid black;
    color: black;
}

#confirmBtn {
    background-color: green;
    color: white;
}

#submitBtn {
    background-color: orangered;
    color: white;

}

#nextBtn,
#verifyBtn {
    border-radius: 5px;
    padding: 0.3rem 1rem;
    background-color: white;
    font-weight: bold;
    text-transform: capitalize;
}

#nextBtn {
    border: 1px solid #dddddd;
}

#verifyBtn {
    border: 1px solid transparent;
    background-color: green;
    color: white;
}

/* The#modalClose Button */
#modalClose {
    font-size: 34px;
    line-height: 1;
    position: absolute;
    right: 5px;
    top: -55px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

#modalClose:hover,
#modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-sub-info {
    color: chocolate;
}

.error-modal-alert {
    background: #ff450026;
    color: orangered;
}

.alert-modal-message {
    font-size: 17px;
    color: #000000a3;
    text-align: center;
    margin: 50px auto;
}

.default-country {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#defaultCountry {
    text-decoration: underline;
    color: darkcyan;
}

#doLater {
    border: 1px solid #00000054;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.modal-filter-item-label {
    font-size: 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding: 10px 16px;
    font-weight: bold;
}

.modal-filter-item-wrapper {
    margin: 0 -16px;
    border-bottom: 1px solid whitesmoke;
}

.modal-filter-item {
    display: block;
    background: #fff;
    padding: 10px 16px;
    text-transform: capitalize;
    width: 100%;
    text-align: inherit;
    font-size: 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


/* MEDIA QUERIES */
@media(max-width: 768px) {
    .modal-body {
        margin-bottom: 57px;
        height: 50vh;
        overflow-y: auto;
    }

    .modal-content {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 1px solid transparent !important;
        border-radius: 12px 12px 0 0;
    }

    .login-alert-modal {
        padding: 2rem 0;
    }
}

@media(min-width: 769px) {
    .modal-content {
        position: relative;
        top: 10rem;
        width: 700px;
        margin: auto;
        border-radius: 5px;
    }

    .modal-body {
        min-height: 400px;
    }

    .vote-verify-wrapper {
        padding: 2rem 0;
        width: 500px;
        margin: auto;
    }
}
