.page-hero-wrapper {
	height: 350px;
	background: #ffd230;
	padding: 0.5rem 1rem;
}
.page-hero-item {
	/* background: url('http://afquick.test/images/afquick-hero.png'); */
	background-repeat: no-repeat !important;
	height: 100%;
	background-size: contain !important;
	background-position: center !important;
    position: relative;
}
.hero-text-info{
    position: absolute;
	bottom: 0;
	background: #ffffffa6;
	padding: 0.5rem 1rem;
	border-radius: 5px;
    left: 0;
    right: 0;

}
.hero-main-text {
	font-size: 2rem;
	font-weight: bold;
    line-height: 1.3;
}
#discoverCta {
	background: #000;
	border-radius: 5px;
	padding: 0.3rem 0.7rem;
	display: inline-block;
	margin-top: 1rem;
	color: #fff;
}

.vendor-hero-wrapper {
	width: 100%;
	height: 250px;
	background: #186042;
    position: relative;
}
.vendor-hero-image {
	width: 100%;
	height: 250px;
}
.vendor-hero-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.vendor-hero-info{
    position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background: linear-gradient( to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1) );
}
.vendor-hero-text {
	position: absolute;
	bottom: 1rem;
}

.vendor-hero-heading {
	text-transform: capitalize;
	font-size: 3rem;
    line-height: 1;
}

.hero-slider-wrapper {
    background: #ffd230;
    height: 350px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}
.hero-slider-items {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}
.hero-slider-item {
    border: 2px solid;
    min-width: 100%;
    height: 100%;
}
.slider-btns {
    position: absolute;
    top: 50%;
}
#nextBtns {
    right: 0;
}

.homepage-hero-container {
    border: 1px solid;
    height: 350px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    /* margin: auto; */
    height: inherit;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides {
    width: 100%;
    height: 100%;
}
.mySlides img {
    height: 100% !important;
    object-fit: cover;
    /* width: 100%; */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 5px;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
} */

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slide {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 97%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.author-info a {
    color: white;
}

.slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.slide-main-text {
    position: absolute;
    left: 20px;
    text-align: left !important;
    bottom: 10px;
    color: white;
    z-index: 4;
}
.slide-main-text h2,
.slide-subtext {
    /* font-size-adjust: cap-height 1; */
    line-height: initial;
}


.slide-indicators {
    position: absolute;
    top: 10px;
    z-index: 2;
    right: 0;
    left: 0;
}
.slide-indicators>a {
    display: inline-flex;
    width: 10px;
    height: 10px;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    padding: 10px;
    font-size: 11px;
}
.slide-indicators>a:active {
    top: 1px;
}

.slide-indicators>a:focus {
    background: #000;
}
.caro-overlay {
    width: 100%;
    min-height: 33%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74));
    position: absolute;
    z-index: 3;
    bottom: 0;
    border-radius: 10px;
}

.caro-nav-btn {
    position: absolute;
    z-index: 2;
    color: black;
    top: 45%;
    background: bisque;
}
#caroPrev {
    left: 0;
}
#caroNext {
    right: 0;
}

/* MEDIA QUERIES */
@media(max-width: 768px ){
    .caro-nav-btn{
        display: none !important;
    }
}
@media(max-width: 520px ){
    .vendor-hero-wrapper,
    .vendor-hero-image {
        height: 200px;
    }
    .hero-slider-wrapper {
        height: 250px;
    }
    .slide {
        height: 280px;
    }
    .caro-overlay {
        min-height: 50%;
    }
}
@media(max-width: 430px ){
    .slide {
        height: 250px;
    }
}
@media(max-width: 397px ){
    .slide {
        height: 199px;
    }
}

@media(min-width: 598px){
    .page-hero-item{
        background-position: right !important;
    }
    .hero-text-info {
        bottom: 27%;
        width: 49%;
    }
    .slide-subtext {
        margin: 10px 0;
    }
}
@media(min-width: 768px){
    .slide-main-text h2 {
        font-size-adjust: cap-height 1;
    }
    .slide-main-text {
        bottom: 35px;
    }
}
@media(min-width: 992px){
    .slide {
        height: 370px;
        width: 100%;

    }
}
