* {
    margin: 0;
}

button {
    background-color: initial;
}

svg {
    display: inline !important;
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
#applicationLogo {
	display: flex;
	justify-content: center;
}
#brandLogo {
	width: 24%;
}
.standard-btn {
	background-color: #000;
	border: none;
	cursor: pointer;
	color: white;
	padding: 10px;
	border-radius: 5px;
}
.register-form-wrapper{
    padding: 1rem 0;
    max-width: 500px;
    margin: auto;
}

.register-logo {
	width: 100%;
	text-align: center;
}
/* .register-form-wrapper input,
.register-form-wrapper select {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    font-size: 15px;
}
.register-form-wrapper label {
	font-size: 94%;
	font-weight: 600;
} */
.form-error{
    color: orangered;

}
#error {
    color: orangered;
    background: #ff450021;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}
#registerBtn{
    background-color: #000;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}

.login-form-wrapper{
    max-width: 500px;
    margin: 4rem auto;
    border-radius: 5px;
    min-height: 300px;
    padding: 20px;
}
.login-form{
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 10px 0;
}
.brand-logo{
    text-align: center !important;
}
button{
    border: none;
    margin: 0;
}
.footer-message{
    display: block;
    margin: 1rem 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.admin-logo {
	text-align: center !important;
}
.admin-logo #adminLogo {
	display: inline-block;
}
.go-to-shop {
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
    background-color: tomato;
    color: #fff;
}
/* .form-heading {
	margin: 4px;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
} */
.two-col {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 1rem;
}

.signup-login {
	margin-top: 0;
	text-align: center;
}
.signup-login a {
	color: darkblue;
	border-bottom: 2px solid;
	font-weight: 600;
}
.resend-verification-wrapper {
	display: flex;
	gap: 1rem;
	margin: 2rem 0;
}
.logout {
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	background: none;
	text-decoration: underline;
	color: darkblue;
}

.input-form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 2rem 0;
}
.logo-and-domain {
    text-align: center;
    margin: 10px 0;
}

#install-button {
    display: block;
    background: crimson;
    margin: 16px 0;
    padding: 13px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
    .two-col {
        display: block;
        grid-template-columns: repeat(1, auto);
        gap: 0;
    }
}
@media(max-width: 500px){
    .register-form-wrapper {
        padding: 1rem;
    }
}
