/* custom inputs */
select,
button{
    color: initial;
}
.as-pointer {
    cursor: pointer;
}
.error,
.is-error {
    color: orangered;
}

.is-error {
    border: 1px solid orangered !important;
}

.inline-error {
    border-color: tomato !important;
}
.custom-form-control {
	border: 1px solid #ddd;
    background-color: white;
	padding: 0.8rem;
	border-radius: 5px;
	width: 100%;
	margin: 0.5rem 0;
	background: initial;
    font-size: 15px;
}

/* custom radio and checkbox */
 /* Customize the label (the container) */
 .custom-radio-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .custom-radio-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
  }

  /* On mouse-over, add a grey background color */
  .custom-radio-checkbox:hover .checkbox-input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .custom-radio-checkbox .checkbox-input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 1px solid transparent;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .custom-radio-checkbox .checkbox-input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .custom-radio-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



/* Hide the browser's default radio button */
.custom-radio-checkbox .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .radio-checkmark {
	position: absolute;
	left: 0;
	height: 18px;
	width: 18px;
	border: 1px solid #ddd;
	background-color: white;
	border-radius: 50%;
	bottom: 1px;
}

  /* On mouse-over, add a grey background color */
  .custom-radio-checkbox:hover .radio-input ~ .radio-checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .custom-radio-checkbox .radio-input:checked ~ .radio-checkmark {
    background-color: #2196F3;
    border: 1px solid transparent;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .custom-radio-checkbox .radio-input:checked ~ .radio-checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .custom-radio-checkbox .radio-checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }



.custom-input-wrapper label,
.custom-input-wrapper input{
    width: 100%;
}


.custom-input-wrapper{
    margin: 0.6rem 0;
}
.custom-input-wrapper input{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: white;
}
.custom-input-wrapper input:focus{
    outline: none;
}


.reset-pass-action{
    display: flex;
    justify-content: space-between;
}

.custom-input label{
    text-transform: capitalize;
    margin: 0.5rem 0;
}
.input-label {
    margin-top: 13px;
    display: block;
}

#backToLogin{
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 0.3rem 0.9rem;
    color: orangered;
    font-weight: bold;
}
#backToLogin:hover{
    background-color: orangered;
    color: white;
}
.as-billing {
	padding-left: 0 !important;
}
.as-billing {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
}
.phone-code-input-wrapper {
    display: grid;
    grid-template-columns: 4fr 10fr;
}
.phone-code-input,
.phone-number-input {
    padding: 0.8rem;
    border: 1px solid #ddd;
}
.phone-code-input {
    border-radius: 5px 0px 0px 5px;
    background: none;
    border-right-color: transparent;
}
.phone-number-input {
    border-radius: 0px 5px 5px 0px;
}

.dim-label{
    font-size: 14px;
    color: #999;
}
.custom-code-input-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
}
.checkbox-input {
    width: 20px;
    height: 20px;
}
.custom-checkbox-label{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 10px 0;
}

.form-wrapper {
    max-width: 450px;
    margin: auto;
    padding-top: 20px;
}
.special-input-wrapper {
    position: relative;
    background: white;
    margin: 24px 0;
}
.special-input-label {
    position: absolute;
    top: -12px;
    background-color: inherit;
    left: 11px;
    padding: 0 9px;
    font-size: 14px;
    color: #000000a3;
    outline: none;
}
.special-input {
    border: 1px solid #ddd;
    display: block;
    padding: 17px;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    background: initial;
}
.login-cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    color: #000000a3;
    font-size: 15px;
}
#registerBtn {
    background-color: #000;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}
.login-signup-cta {
    display: flex;
    background: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}
.login-cta-item {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
.active-login-cta{
    background-color: #fff;
    font-weight: bold;
}
.slugline {
    font-size: 22px;
    color: #000000ed;
    font-weight: lighter;
    text-align: center;
    margin-top: 25px;
}

.slugline p {
    margin: 0;
}
.forgot-password {
    text-decoration: underline;
}

.new-login-wrapper {
    height: 100vh;
}
.afquick-platform-logo {
    padding: 16px;
}
#riderLogo img{

}
#riderLogo p {
    font-weight: bold;
}
.login-head-section {
    position: relative;
    overflow: hidden;
    background: #efbf04;
    text-align: center;
}
.login-head-section-image {
    width: 100%;
    height: 250px;
    /* border: 2px solid rebeccapurple; */
}
.login-head-section-image img {
    width: 100%;
    height: inherit;
    object-fit: contain;
}
.login-input-section {
    padding: 0 20px;
}
#riderLogin {
    width: 100%;
    border: 1px solid transparent;
    font-size: 17px;
    font-weight: bold;
}
.login-heading{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.select-search-dropdown {
    /* background: whitesmoke; */
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    padding: 10px 17px;
    overflow-y: auto;
}

.reset-input-for-select-search{
    border-radius: 10px 10px 0 0 !important;
}
@media(max-width: 521px){
    .login-heading{
        display: none !important;
    }
    .phone-code-input-wrapper {
        grid-template-columns: 2fr 10fr;
    }
    .new-login-wrapper {
        height: 394px;
    }
    .login-head-section::after {
        content: "Sign In";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 59px;
        background: white;
        border-top-left-radius: 100% 310px;
        border-top-right-radius: 100% 310px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
    }
}

@media(min-width: 522px){
    .new-login-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .login-head-section-image {
        height: 345px;
    }
    .login-input-section {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .new-rider-login-form {
        max-width: 420px;
        width: 100%;
    }

}
