.search-box {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 5px;
    width: 100%;

}
.site-search-result-item {
    display: flex;
    gap: 13px;
    border-bottom: 1px solid whitesmoke;
    position: relative;
}
.site-search-item-image {
    width: 70px;
    height: 83px;
    position: relative;
}
.site-search-item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.toggle-to-cart-cta {
    position: absolute;
    top: 4px;
    right: 5px;
    background: #fff;
    padding: 1px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
#searchBox {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
}
#searchBox:focus{
    outline: none;
}

.search-box input{
    width: 100%;
    border: 1px solid var(--general-border-color);
    padding: 0.3rem 0.8rem;
    border-radius: var(--general-border-radius);
}

.mobile-search-suggestion{
    padding: 0 1rem;
}
.top-search-item {
	display: inline-block;
	background: aliceblue;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 14px;
    margin: 4px 0;
}
#allTopSearches {
	background: tomato;
	color: aliceblue;
}
.more-search-result {
	border: 1px solid #000;
	display: block;
	padding: 3px 8px;
	border-radius: 5px;
	margin: 1rem 0;
	text-align: center;
}
.more-search-result:hover{
    background-color: #000;
    color: #fff;
}
.search-result-items {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
	gap: 1rem;
	padding-bottom: 2rem;
}
.search-item-wrapper {
	padding: 10px;
	position: relative;
	background: aliceblue;
}

.search-item-image {
	width: 70px;
	margin: auto;
	height: 83px;
}
.search-item-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.search-item-highlight {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.search-item-cta,
#searchItemToCart {
	position: absolute;
	top: 4px;
	right: 5px;
	background: #fff;
	padding: 8px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 5px;
}
.search-subheading {
	margin: 14px 0;
	font-weight: bold;
}
.light-close {
    background: whitesmoke;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-search-wrapper {
    padding: 5px 0;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

@media(max-width: 991px) {
    .mobile-search-form {
        position: fixed;
        z-index: 98;
        background: #fff;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        padding: 10px 14px;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word;
    }
    .search-box{
        border: none !important;
    }
    .search-input-cta {
        width: 90%;
        border: 1px solid #ddd;
        position: relative;
        border-radius: 5px;
    }
    .search-ctas {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .top-search-item{
        background-color: #fff;
    }
    #clearTerm {
        position: absolute;
        right: 5px !important;
        top: 5px !important;
    }
    .search-item-wrapper {
        background: #fff;
    }
}

@media(min-width: 768px){
    .search-result-items {
        grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
    }
}
