#userGreeting {
    font-weight: bold;
    display: block;
    text-transform: capitalize;
}
#quickActive,
.quick-active {
	background: #000;
	color: #fff;
}
.user-quick-navs {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
	overflow: auto;
}
.quick-nav-item {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 0.1rem 1rem;
}
.user-dashboard-overview {
    width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0;
	overflow-x: auto;
	white-space: nowrap;
	padding: 0.5rem 0.1rem;
}
.overview-item {
	width: 200px;
	min-height: 100px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 1rem;
	border-radius: 5px;
}
.tab-content-wrapper {
	margin-top: 2rem;
}
.tab-item-heading {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid #ddd;
    overflow-y: auto;
    white-space: nowrap;
}
.order-collection {
	border: 1px solid #ddd;
	padding: 1rem;
	border-radius: 5px;
	margin: 1rem 0;
}
.order-collection-item {
	display: flex;
	margin: 1rem 0;
	gap: 1rem;
}
.order-item-image {
	width: 80px;
	height: 80px;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.order-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.collection-heading {
	background: aliceblue;
	margin: -1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 5px 5px 0 0;
	display: flex;
	gap: 1rem;
}
.order-id {
	font-weight: bold;
}
.order-details-cta,
.order-invoice-cta{
    padding: 0.1rem 0.5rem;
	border-radius: 5px;
    color: #fff;
}
.order-details-cta {
	background: #000;
}
.order-invoice-cta {
	background: #6495ed;
}
#activeTab {
	border-bottom: 2px solid;
}

.account-item {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 1rem;
}

.cards-and-accounts {
	border: 1px solid #ddd;
	padding: 0.8rem;
	border-radius: 5px;
	margin: 1rem 0;
}
.card-account-image {
	width: 90px;
}
.card-account-image img {
	width: 100%;
}
.card-account-item {
	display: flex;
	gap: 1rem;
}
#defaultCard {
	font-weight: bold;
}
.card-account-cta {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.card-edit,
.card-remove {
	text-transform: capitalize;
	font-weight: bold;
	color: darkblue;
}
.add-btn {
	border: 1px solid #ddd;
	padding: 0.1rem 0.5rem;
	border-radius: 5px;
	font-size: 91%;
}

.payment-transaction-item {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 0.5rem 0.8rem;
	border-radius: 5px;
	margin: 1rem 0;
}
.transaction-date {
	background: aliceblue;
	margin: -0.5rem -0.8rem 0.5rem;
	padding: 0.5rem 0.8rem;
	border-radius: 5px 5px 0 0;
	font-size: 95%;
}
.bank-name-amount {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
}
.purchase-order-number {
	font-size: 95%;
	color: cornflowerblue;
}
.empty-placeholder {
	padding: 1rem 0;
	color: #00000076;
}
.bank-card-name {
    text-transform: uppercase;
}
.user-quick-nav-item {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 7px 29px;
}
.user-wk-logo {
    /* padding: 0 29px; */
    background: #00bfff;
    border-radius: 5px;
    width: 116px;
}
.user-wk-wrapper {
    position: relative;
}
.dashboard-wk-label {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
}

.order-payment-pending-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 12px;
    border-radius: 5px;
    border: 2px solid aquamarine;
    background: #daf7ed;
    margin: 10px 0;
}
.pending-item-heading {
    font-size: 18px;
    font-weight: bold;
}
.pending-item-subheading {
    color: #9b9a9a;
    font-size: 14px;
}
.pending-item-bank-details {
    margin: 10px 0;
}
.bank-item-label {
    font-weight: bold;
}
.pending-item-footnote {
    border-top: 1px solid #fff;
    margin: 10px -10px -12px;
    padding: 10px 0;
}
ul li {
    margin: 0 0 0 -14px;
    /* border: 1px solid; */
    font-size: 14px;
}
.pending-item-cta {
    margin: 15px 0 auto;
    text-align: center;
}
.pending-item-cta button {
    background: aquamarine;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.light-aquamarine-bg{
    background-color: #daf7ed !important;
}

.past-order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.past-order-items {
    /* border: 1px solid; */
    padding: 10px;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0 0 5px 5px;
}
#activePastOrder{
    border-radius: 5px 5px 0 0;
    background-color: #daf7ed;
}
.cancel-order-id {
    color: #7b7b7b;
}

/* MEDIA QUERIES */
@media(max-width: 520px){
    .order-item-image {
        width: 50px;
        height: 50px;
    }

    .order-collection-item {
        width: 100%;
    }
    .order-item-info {
        width: 90%;
    }
}
@media(max-width: 610px){
    .collection-heading {
        padding: 0.5rem 1rem;
        display: block;
    }
    .collection-cta {
        margin-top: 12px;
    }
}

@media(min-width: 611px){
    .collection-heading {
        display: flex;
        justify-content: space-between;
    }
}
