.select-shop{
    text-align: center;
}
.shop-card-image {
	height: 60%;
	border-radius: 5px 5px 0 0;
}
.shop-card-wrapper {
	/* width: 180px; */
	height: 160px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.shop-card-wrapper-new {
    min-height: 90px;
    background: aliceblue;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}
.shop-card-wrapper h1,
.shop-card-wrapper-new h1 {
	text-transform: capitalize;
	border-radius: 5px;
	font-size: 16px;
	padding: 0 0.5rem;
	font-weight: 600;
}
.shop-card-wrapper a{
    display: block;
    width: 100%;
}
.shop-card-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 0 0;
	-o-object-fit: contain;
	object-fit: contain;
}
.shop-card-name {
    text-align: center;
	border-radius: 5px;
	width: 100%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.four-col {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.1rem;
    padding-bottom: 2rem;
}
.five-col {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1.1rem;
    padding-bottom: 2rem;
}

.product-card-wrapper {
	min-height: 200px;
	background-color: #fff;
	/* padding: 0.5rem; */
	border-radius: 5px;
	/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    position: relative;
    margin-bottom: 10px;
    /* overflow: hidden;
    word-wrap: break-word; */
}

.product-image {
    width: 100%;
    height: 170px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.product-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
    border-radius: 5px;
}
.product-info {
    width: 100%;
    word-wrap: break-word;
}
.stock-alert {
	font-weight: bold;
}
.stock-danger{
    color: orangered;
}
.item-stock-out {
    background: #ff450021;
    padding: 10px;
    border-radius: 5px;
    margin: 1rem 0;
    color: orangered;
}
.product-stock-out {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    font-weight: bold;
    background: #ffe4c4;
    border-radius: 0 0 50% 0;
    font-size: 13px;
    color: orangered;
    font-size: 11px;
    line-height: 12px;
}
.unit-price.see-size-options {
	color: blueviolet;
	text-decoration: underline;
	font-weight: 600;
}
.no-stock-price {
	color: #ddd !important;
	text-decoration: line-through;
}
.stock-success{
    color: green;
}
.stock-alert-message{
	font-size: 13px;
}
.sales-alert {
	position: absolute;
	top: 0;
	background: orangered;
	padding: 0 0.5rem;
	color: wheat;
	font-weight: bold;
}
.sub-text {
    font-size: 13px;
}
.product-name,
.show-product-name{
    line-height: 1.2;
    text-transform: capitalize;
}
.show-product-name{
    font-weight: 600;
}
.vendor-label{
    color: #00000080;
    text-transform: capitalize;
    font-size: 11px;
}
.size-option-item {
	border: 1px solid #ddd;
	padding: 0.2rem 0.6rem;
	display: inline-block;
}
.item-price-label {
	display: flex;
	gap: 1rem;
}
.price-label span {
	font-weight: 600;
	display: block;
}
.unit-price,
.unit-measure{
    font-size: 14px;
    color: rgb(0, 0, 0, 0.5);
}
.price-per-unit span {
	font-size: 80%;
}
.actual-price.discount-effect {
	color: orangered;
	text-decoration: line-through;
}
.discount-effect {
	color: orangered !important;
	text-decoration: line-through;
}

.product-collection-wrapper {
    padding-bottom: 1rem;
}
.filter-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border: 1px solid #ddd;
	padding: 6px;
	border-radius: 5px;
	width: fit-content;
}
.filter-items {
	text-transform: capitalize;
}
.filter-title{
    font-weight: bold;
}
.filter-checkbox-input {
    width: 19px;
    height: 19px;
    display: none;
}
.filter-value {

}
.filter-value span {
	font-size: 19px;
}
.clear-filters {
	background: #ff450030;
	color: orangered;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 14px;
	cursor: pointer;
}
.price-per-unit {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-list-wrapper{
    padding-bottom: 1rem;
    position: relative;
}
.product-display-wrapper {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	gap: 2rem;
	padding: 1rem 0;
}
.product-images {
	border: 1px solid #ddd;
	width: 100%;
	min-width: 0;
	border-radius: 5px;
	position: relative;
	height: 300px;
}
.selected-image-wrapper {
    height: 100%;
    text-align: center;
}
#selectedImage{

}
.product-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.other-images-wrapper {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
    padding-bottom: 6px;
}
.other-image {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.to-cart-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: whitesmoke;
	border-radius: 0 0 5px 5px;
	/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
	z-index: 94;
	padding: 0.5rem 1rem;
    display: none !important;
}
#closeBtn {
	position: absolute;
	right: 50%;
	left: 43%;
	top: 0;
}
.custom-qty-counter {
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	padding: 0 0.5rem;
	background: #fff;
    margin-top: 9px;
    width: fit-content;
}
.custom-qty-counter-2 {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
}
.counter-value {
	width: 42px;
	text-align: center;
	padding: 0.4rem;
}
.price-item {
	font-size: 26px;
	font-weight: 600;
	color: darkblue;
}
.detail-divider {
	margin-bottom: 7px;
	border-bottom: 1px solid #eee;
	padding-bottom: 7px;
}
.size-option-item.selected {
	border: 2px solid;
}
.quantity-wrapper {
    display: flex;
    background: whitesmoke;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
}
.quantity-wrapper select {
    background: none;
    width: 100%;
    padding: 10px 14px;
}
.quantity-wrapper span {
    font-size: 15px;
    font-weight: bold;
}
.price-quantity-info {
    text-align: left !important;
}
.size-options-wrapper,
.quantity-wrapper {
	margin-top: 14px;
}
.add-to-cart, .buy-now {
	display: block;
    width: 100%;
	padding: 10px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
	text-align: center;
	margin: 8px 0;
}
.add-to-cart {
	background-color: aquamarine;
}
.buy-now{
    background-color: rgb(0, 0, 0, 0.9);
    color: #fff;
}
.actual-price-label {
	font-size: 1.1rem;
}
.actual-price-label {
	border: 1px solid #ddd;
	width: fit-content;
	padding: 0.2rem 1rem;
	border-radius: 5px;
	display: flex !important;
	gap: 5px;
}
.payment-tax-info {
	font-size: 14px;
	/* font-weight: 600; */
	color: orangered;
}
#quantity {
	width: 60px;
	border: 1px solid #ddd;
	padding: 0.5rem;
	border-radius: 5px;
}
#secure-label {
	font-weight: 600;
	font-size: 14px;
}
.quantity-label {
    margin-top: 0 !important;
}
.stock-label {
	color: green;
	font-weight: bold;
	font-size: 14px;
}

.product-detail-info {
	padding: 2rem 0;
}
.detail-tab-content {
	padding: 1rem 0;
}
.detail-tab {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	/* padding: 1rem 0; */
	border-bottom: 1px solid #ddd;
}
.detail-tab .tab-item {
	display: inline-block;
	/* border: 1px solid; */
	white-space: nowrap;
	padding: 0.3rem 0.5rem;
	/* border-bottom: 3px solid; */
    text-transform: capitalize;
    font-size: 1rem;
}

.shop-name-label {
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 600;
	color: #a52a2a;
}
.product-name-label {
	font-size: 19px;
}
.cart-count-wrapper {
	position: relative;
    line-height: 0.5;
}
.cart-count-wrapper svg{
    display: block !important;
}
.cart-count {
	position: absolute;
	top: -5.5px;
	right: -11px;
	z-index: 1;
	background-color: orangered;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 11px;
	font-weight: bold;
}


.cart-item-wrapper {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 5px;
	gap: 1rem;
	padding: 0.5rem;
	margin: 1rem 0;
}
.cart-product-image {
	width: 100px;
}
.cart-item-image {
	width: 100%;
	border-radius: 5px;
}
.cart-product-name {
	font-size: 15px;
	/* font-weight: bold; */
}
.cart-product-price span {
	font-weight: bold;
}
.cart-product-cta{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 10px 0;
}
.cart-product-quantity input {
	width: 50px;
	border: 1px solid #ddd;
	padding: 0.1rem;
}
.cart-product-delete span,
.cart-product-save span {
	border: 1px solid;
	padding: 0.1rem 0.5rem;
	border-radius: 5px;
    display: inline-block;
}
#clearCart {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0.3rem;
}
.checkout-section-wrapper{
    padding: 13px 16px;
}
/* .checkout-items {
	margin: 11px 0;
} */
.checkout-items span {
	display: block;
}
.delivery-address.checkout-items{
	display: flex;
	justify-content: space-between;
	background: aliceblue;
	padding: 5px 16px;
}
.delivery-address-wrapper {
    background: aliceblue;
    border-radius: 5px 5px 0 0;
}
.time-item{
    padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
.selected-delivery-time {
	background: #ffd23036;
}
.time-item-wrapper span {
	display: block;
}
.delivery-time-selector {
    display: flex;
    align-items: center;
    border: 1px solid antiquewhite;

}
.custom-time.time-item {
    margin: 10px 0;
}
.main-label {
	font-weight: 600;
}
.sub-label {
	font-size: 12px;
}
.payment-select-option {
	border: 1px solid antiquewhite;
	padding:14px 10px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
    margin: 4px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.summary-prices-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: lighter;
	margin: 8px 0;
}
.total-items.summary-prices-item {
	font-weight: bold;
	font-size: 15px;
	border-top: 1px solid antiquewhite;
}
/* .summary-prices-wrapper {
	background: whitesmoke;
	padding: 10px;
	border-radius: 5px;
} */
.summary-prices-wrapper {
    padding: 10px;
    border-top: 1px solid #ddd;
}
.terms-notice {
	margin-bottom: 8rem;
}
.terms-notice small {
	line-height: 1.2;
	display: block;
	color: #0000008c;
    font-size: 11px;
}
.stick-to-bottom{
    position: fixed;
	bottom: 56px;
	right: 1rem;
	left: 1rem;
    margin: 10px 0;
    z-index: 1;
}
.proceed-to-payment {
    margin: 10px 0;
}
.discover-items-btn {
    display: inline-block;
    margin: 1rem 0;
    background: tomato;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.discover-slider {
    position: relative;
}
#makePayment,
#toCheckout {
	width: 100%;
	background: tomato;
	padding: 18px 14px;
	border-radius: 5px;
	color: white;
	display: flex;
	justify-content: space-between;
    font-size: 14px;
}
.disabled-checkout-btn{
    background-color: #f4cbc4 !important;
    cursor: not-allowed;
}
.payment-option-itme {
	display: flex;
	gap: 1rem;
	border-bottom: 1px solid whitesmoke;
	padding: 10px 0;
}
.payment-option-logo {
    width: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.payment-image-logo {
    width: 100%;
    border-radius: 5px;
}
.payment-option-name {
    font-weight: 600;
}
.payment-option-subname {
    font-size: 12px;
    color: #000000a3;
}
#paypal-button-container {
    margin: 20px 0;
}
#isAddress {
	background: gray;
	color: #fff;
	width: 100%;
	padding: 14px;
	border-radius: 5px;
	margin: 8px 0;
	font-size: 14px;
}
#toLogin {
	background: tomato;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.delivery-address-form {
	position: relative;
	display: flex;
	align-items: center;
}
#addressLogo {
	position: absolute;
	left: 10px;
}
.set-address-input {
	padding-left: 40px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 17px;
    padding-left: 37px;
    border-radius: 5px;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 15px;
}

#shareLocation {
	font-weight: 600;
	color: darkslateblue;
	text-decoration: underline;
	display: flex;
	gap: 5px;
	align-items: center;
    font-size: 14px;
}
.account-link {
    margin: 17px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}
#logInLink,
#signUpLink {
	margin: 10px 0;
	/* border: 1px solid #ddd; */
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: 600;
}
#logInLink{
    background: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#signUpLink {
	border: 1px solid darkslateblue;
}
#useAddress {
	background: aliceblue;
	width: 100%;
	padding: 10px;
	box-shadow: rgba(0,0,0,0.05) 0px 0px 0px 1px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.checkout-subheading {
	margin-top: 10px;
}
#saveInfo {
	background: aliceblue;
	box-shadow: rgba(0,0,0,0.05) 0px 0px 0px 1px;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
}
#addNewAddress {
	color: darkblue;
	font-weight: 600;
	text-decoration: underline;
}


.shopping-cart-wrapper {
	display: grid;
	grid-template-columns: 4fr 2fr;
	gap: 1rem;
}
.subtotal-info,
.order-summary {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 5px;
}
.subtotal-info{
    padding: 2rem;
}
.subtotal-info p,
.subtotal-info > span{
    font-weight: bold;
    font-size: 1.2rem;
}
.subtotal-cta{
    margin-top: 2rem;
}
.or-divider-wrapper {
	text-align: center;
	position: relative;
}
.or-divider {
	border-top: 1px solid #ddd;
}
.or-label {
	position: absolute;
	top: -12px;
	right: 0;
	left: 0;
	background: white;
	width: 30px;
	margin: auto;
	color: #00000092;
}
.easy-checkout-label {
	font-weight: 700;
}
.easy-checkout-options {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.easy-checkout-option {
	max-width: 100px;
	height: 40px;
}
.easy-checkout-option img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.payment-option-detail {
	border: 1px solid #eee;
	min-height: 80px;
	background: #fff;
    padding: 0.3rem;
}
#toShopping {
	display: block;
	border: 1px solid;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	text-align: center;
}

.paypal-method-wrapper {
	padding: 0.3rem;
}
.paypal-method-notice {
	margin: 0;
	font-size: 13px;
	text-align: center;
}

.cart-checkout-wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 3rem;
    padding-bottom: 5rem;
}
.checkout-item {
	border: 1px solid #ddd;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	border-radius: 5px;
}
.delivery-options label {
	display: flex;
}
.phone-contact {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
}
.shipping-address {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.checkout-item-title {
	background: whitesmoke;
	margin: -0.5rem -1rem;
	padding: 0.2rem 1rem;
	border-radius: 5px 5px 0 0;
	margin-bottom: 1rem;
}

.payment-item-option {
	background: whitesmoke;
	border-bottom: 1px solid #ddd;
	/* display: flex; */
}
.item-cta{
    display: flex;
    align-items: center;
    background: whitesmoke;
    padding: 0.7rem 1rem;
    justify-content: space-between;
}
.order-item {
	display: flex;
	align-items: center;
	gap: 1rem;
    border-top: 1px solid #dddd;
}
.order-item img {
	width: 80px;
}
.complete-shipping {
	margin: 1rem 0;
}

.order-summary{
    padding: 0.5rem 1rem;
    height: fit-content;
}
.order-total-amount {
	border-top: 1px solid #ddd;
	padding-top: 1rem;
}
#completeOrder {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background: #000;
	color: white;
    text-align: center;
}

.quantity-total {
	font-weight: bold;
	display: flex;
	gap: 2rem;
	color: #00000099;
	font-size: 14px;
}
.gross-total,
.subtotal,
.shipping-cost {
	display: flex;
	justify-content: space-between;
}
.gross-total {
	font-size: 1.2rem;
	font-weight: bold;
	color: orangered;
}

.product-count-label {
	font-weight: 600;
}
.notice-title {
	font-weight: bold;
}
.standard-btn.as-pointer.change-address {
	margin: 1rem 0;
}
.address-item {
	text-transform: capitalize;
}


.page-filter-labels {
	margin: 0.5rem 0;
}
.quick-filter-wrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	padding-bottom: 0.5rem;
    margin: 1rem 0;
}
.quick-filter-label {
	border: 1px solid #000;
	padding: 0 1rem;
	border-radius: 5px;
	display: block;
    text-transform: capitalize;
}
#activeQuickFilter,
.active-selected-tab{
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
}

/* active shops */
.city-filter {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#cityFilter {
	border: 1px solid;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	background: #fff;
}

/* browsing history */
.user-item-browse-history {
	margin-top: 2rem;
	width: 100%;
}
.browse-items {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	padding: 0 0.1rem;
}
.browse-item-card {
	width: 170px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	border-radius: 5px;
	margin: 1rem 0;
	padding: 1rem;
}
.browse-item-image {
	width: 100%;
	height: 100px;
}
.browse-item-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.browse-item-name {
	width: 100%;
	padding: 0.5rem 0;
	font-weight: 600;
	line-height: 1.2;
}
.browse-item-text {
	width: 100%;
	border: 1px solid;
}

.standard-btn,
.btn-red{
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.4rem 1rem;
}
.standard-btn{
    background-color: #000;
}
.btn-red{
    background-color: orangered;
}

.subsection-wrapper {
	border: 1px solid #ddd;
	padding: 1rem;
	border-radius: 5px;
	margin: 1rem 0;
}
#removeIcon {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    background: tomato;
    color: #ffff;
    text-align: center;
    margin: 13px 0;
}

.disable-click {
	color: #00000050;
	cursor: auto;
}

.reaction-tracker {
	width: 100%;
	border: 1px solid red;
	min-height: 230px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.order-items-wrapper {
	margin: 1rem 0;
}
.order-items-summary {
    background: whitesmoke;
}
.as-pointer.inline-payment-brands {
	display: flex;
	align-items: center;
	gap: 4px;
}
.sepa-footer-image{
    height: 31px;
    object-fit: cover;
}
.modal-cart-product-info {
	display: flex;
	gap: 1rem;
	padding: 5px 0;
}
.modal-cart-product-info-image {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.afquick-specials-wrapper {
	display: grid;
	width: 100%;
	overflow-x: auto;
	gap: 10px;
	padding: 10px 0;
	grid-template-columns: repeat(3, minmax(180px, 1fr));
}
.afquick-special-item {
	padding: 3px 10px;
	border-radius: 5px;
	min-height: 110px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.item-title {
	font-size: 19px;
	line-height: 1.2;
	color: #fff;
	font-weight: bold;
}
.afquick-special-item.sunday-preorder {
	background: #00bfff;
}
.afquick-special-item.hello-recipe {
	background: deeppink;
}
.afquick-special-item.weekend-basket {
	background: orange;
}
.item-copy {
	font-size: 90%;
	line-height: 1.1;
	margin-top: 5px;
	color: aliceblue;
	font-weight: 600;
}


.select-shop-cards-wrapper{
	display: flex;
	overflow-x: auto;
	gap: 10px;
	padding-bottom: 10px;
}
.shop-card-default-image {
	color: #00000063;
	background: aliceblue;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0 0;
	text-transform: capitalize;
	font-size: 33px;
}

.select-store-categories-wrapper {
	display: flex;
	overflow-x: auto;
	gap: 10px;
	padding-bottom: 10px;
}
.store-category-item {
	width: 180px;
	height: 160px;
	position: relative;
    border-radius: 5px;
}
.store-category-item-image {
	width: inherit;
	height: inherit;
	object-fit: cover;
	position: absolute;
    border-radius: 5px 5px;
}
.store-category-item-heading {
	color: white;
	padding: 5px;
	line-height: 1.2;
    text-shadow: 0 1px 0 black;
}
.overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
    text-align: center;
}
.mobile-bottom-menu {
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	margin-top: 500px;
	box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
	padding: 6px 10px;
	box-shadow: rgba(0,0,0,0.12) 0px 1px 3px,rgba(0,0,0,0.24) 0px 1px 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    z-index: 97;
}

.bottom-menu-item {
	text-align: center;
}
.bottom-menu-item-label {
	font-size: 11px;
}
.bottom-menu-item-icon {
    display: flex;
    justify-content: center;
}
.stores-list-wrapper,
.countries-list-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	gap: 1rem;
    padding-bottom: 15px;
}

.discover-items-wrapper {
    display: flex;
    overflow-x: scroll;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 14px;
    padding: 5px 4px;
    padding-bottom: 16px;
}
.list-category-name {
	text-transform: capitalize;
}
.categories-nav-items {
    display: flex;
    gap: 18px;
    color: #000000d4;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    /* padding: 2px 0; */
    padding-bottom: 6px;
}
.discover-subnav-item {
    text-transform: capitalize;
    padding: 6px 10px;
}
#activeSectionTab {
    font-weight: bolder;
    /* background: aquamarine; */
    border-radius: 5px;
    border-bottom: 2px solid aquamarine;
    border-top: 2px solid aquamarine;
}
.product-listing {
    min-width: 0;
}

.completed-order-message,
.cancelled-message,
.custom-alert-wrapper{
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.completed-order-message {
    background: aquamarine;
}
.cancelled-message {
    background: rgba(255, 0, 0, 0.5);
}
.close-alert {
    background: aliceblue;
    border-radius: 50%;
    padding: 4px 5px;
}

.clear-bottom{
    padding-bottom: 100px;
}
.margin-clear {
    margin: 14px 0;
}

.inline-category {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid whitesmoke;
    padding: 10px 0;
}
.inline-category img {
    width: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.inline-category span {
    font-size: 100%;
    line-height: 11px;
}
#activeCat {
    background: aliceblue;
}

.product-list-heading {
    margin-bottom: 13px;
    font-size: 110%;
    text-transform: capitalize;
    font-weight: 600;
}
.show-selected-filters {
    padding: 10px 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow-x: auto;
}
.selected-filter {
    color: green;
    margin-top: -3px;
}
.close-selected {
    margin-right: -7px;
    display: flex;
    align-items: center;
}
.selected-filter-item {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #00800024;
    padding: 2px 10px;
    border-radius: 50px;
}
.select-filter-wrapper select {
    background: none;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.delivery-to {
    text-transform: capitalize;
}

.custom-spinner-parent{
    position: relative;
}
.custom-spinner-bg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.loading-spinner {
    margin: 100px 49%;
}
.loading-message {
    background: white;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

#bottomCartWrapper {
    background: aquamarine;
    padding: 2px 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.aqua-btn {
    background: aquamarine;
    display: block;
    margin: 20px 0;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
}
.bg-aquamarine{
    background-color: aquamarine;
}
.color-green{
    color: green;
}
.menu-overlay {
    position: absolute;
    background: #0000005c;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 98;
}
.sitelegals-wrapper {
    max-width: 768px;
    margin: auto;
}
.sitelegal-title {
    text-transform: capitalize;
    padding: 20px 0;
}
.loading-overlay {
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.1;
    top: -6px;
    right: -8px;
    left: -8px;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
}

.weekend-basket-wrapper{
    max-width: 768px;
}
.weekend-basket-items-wrapper {
    margin: 10px 0 30px 0;
}
.weekend-basket-name {
    color: #000000ab;
    font-size: 19px;
}
.weekend-basket-item {
    display: flex;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.basket-item-image-info {
    display: flex;
    gap: 10px;
}
.weekend-basket-item-image {
    border-radius: 5px;
}
.basket-item-price {
    display: block;
    line-height: 1;
    font-weight: bold;
}
.basket-search-results {
    width: 100%;
    max-height: 270px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-y: auto;
}
.search-result-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}
.search-result-image {
    border-radius: 5px;
}
.search-result-info {
    display: flex;
    gap: 10px;
}
.add-to-weekend-basket {
    width: 50px;
    border-radius: 5px;
    padding: 7px 10px;
}
.basket-item-cta {
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.weekend-list-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 14px 0;
}
#saveList {
    color: black !important;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 80%;
}
.weekend-basket-hero {
    padding: 10px 0;
}
.weekend-basket-hero-items {
    display: flex;
    align-items: center;
    gap: 17px;
}
.custom-bg-blue{
    background: #00bfff;
}
#wkHero {
    height: 170px;
    width: 40%;
    position: absolute;
    top: 0;
    object-fit: cover;
    right: 0;
}
#wkHeroHeading {
    line-height: 1;
    font-size: 24px;
}
.wk-basket-logo {
    width: 60px;
    height: 60px;
    background: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#searchWkInput {
    box-shadow: rgba(127, 255, 212, 0.6) 1.95px 1.95px 2.6px;
}
#searchWkInput:focus {
    outline: none;
}
.wk-logo-wrapper {
    padding: 3px 0;
}
.wk-basket-logo2 {
    position: relative;
    padding: 5px;
    background: #00bfff;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.wk-label {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    left: 5px;
}
.inline-notice {
    background: aquamarine;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    display: block;
}
#buyNow {
    background: tomato;
    color: #fff;
    padding: 10px 14px;
    border-radius: 5px;
}
.out-of-stock {
    color: orangered;
    font-size: 14px;
}
.wk-list-subtotal {
    margin: 10px 0;
}
.list-subtotal-label {
    font-weight: bold;
    color: #000000c2;
}
.list-subtotal-value {
    font-size: 20px;
}

.multistep-indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0 20px 0;
}
.step-indicator {
    width: 23px;
    height: 23px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.step-name {
    font-size: 13px;
}
.step-indicator.current-step {
    background: aquamarine;
}
.delivery-option-checkbox {
    border: 1px solid #ddd;
    display: flex;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}
.inline-selected {
    border: 1px solid aquamarine;
    background: aquamarine;
}
.checkout-bg-edge{
    padding: 13px 16px;
    margin: -30px -30px auto;
    border-radius: 5px 5px 0 0;
}
.checkout-next-previous {
    margin: 20px 0;
    display: flex;
    justify-content: end;
    gap: 20px;
}
.checkout-next-previous button {
    padding: 9px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: initial;
}
.checkout-continue-btn {
    background: aquamarine;
}
.checkout-previous-btn {
    border: 1px solid aquamarine;
}
.checkout-information {
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.time-slot-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 10px 0;
    position: relative;
}
.confirm-time {
    position: absolute;
    right: 0;
    background: aquamarine;
    padding: 10px;
    top: 0;
    font-size: 13px;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    gap: 7px;
}
.user-address-card {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 11px 0;
}
.address-card-cta {
    margin: 10px 0;
    display: flex;
    gap: 13px;
    align-items: center;
}
.address-btn {
    padding: 7px 18px;
    border-radius: 5px;
    font-size: 16px;
}
.address-delete {
    border: 1px solid #00000082;
}
.current-address {
    border: 1px solid;
}
.cancel-btn {
    border-bottom: 2px solid;
    padding: 0;
    font-size: 15px;
}
.store-pickup-address {
    text-decoration: underline;
    color: darkblue;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-button {
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    position: relative;
}

.pay-button::before {
    content: '';
    border-radius: 1000px;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.pay-button:hover::before,
.pay-button:focus::before {
    opacity: 1;
}

.pay-button::after {
    content: '';
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.pay-button:hover::after,
.pay-button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.rotation-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.dark-loader-border{
    border: 3px solid #00000047;
    border-bottom-color: transparent;
}
.dark-loader-border{
    border: 3px solid #00000047;
    border-bottom-color: transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.success-notification {
    display: flex;
    padding: 15px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    width: 150px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 2s forwards;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.check-icon {
    font-size: 40px;
}

.message {
    /* font-size: 16px; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ballon-notification {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background-color: #ff6f61;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.ballon-notification.show {
    top: 57px;
    opacity: 1;
}

.ballon-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}



/* MEDIA QUERIES */
@media(max-width: 991px) {
    .shopping-cart-wrapper {
        grid-template-columns: 1fr;
    }
    .counter-and-filter {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .product-list-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.1rem;
        margin: 1rem 0 !important;
    }
    .other-image {
        width: 50px;
        height: 50px;
    }
    .cart-checkout-wrapper {
        grid-template-columns: 3fr 2fr;
        gap: 1rem;
    }
    /* .shop-card-wrapper {
        width: 142px;
        height: 88px;
    } */
    .filter-value {
        margin-left: -16px;
        margin-right: -16px;

    }
    .inline-category{
        padding: 10px;
    }
}
@media(max-width: 768px) {
    .four-col {
        grid-template-columns: repeat(3, 1fr);
    }
    .five-col {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-display-wrapper {
        grid-template-columns: 2fr 2fr;
    }
    .cart-checkout-wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .cart-count {
        top: 0;
    }
    .order-item img {
        width: 70px;
    }
    .shop-card-wrapper h1 {
        line-height: 1;
    }
}
@media(max-width: 520px) {
    .delivery-address-wrapper {
        margin-bottom: 0;
        border-radius: 5px 5px 0 0;
    }
    .four-col {
        grid-template-columns: repeat(2, 1fr);
    }
    .five-col {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-list-wrapper {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(2, minmax(90px, 1fr));
        gap: 1.1rem;
        grid-template-rows: auto;
    }
    .product-display-wrapper {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .shopping-cart-wrapper {
        grid-template-columns: 1fr;
    }
    .cart-summary {
        background-color: white;
        grid-row: 1;
        margin-top: 1rem;
    }
    .shipping-address {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .cart-label-wrapper{
        display: none !important;
    }
    .weekend-basket-item {
        display: block;
    }
    .basket-item-cta {
        justify-content: end;
    }
}
@media(max-width: 420px){
    .five-col {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 320px) {
    .product-list-wrapper {
        grid-template-columns: 1fr;
    }
    .reaction-tracker {
        min-height: 105px;
    }
    .vendor-label {
        font-size: 90%;
    }

}

@media(min-width: 521px){
    .mobile-bottom-menu{
        display: none !important;
    }
    .product-images {
        min-height: 400px;
    }
}
@media(min-width: 321px){
    .product-info {
        margin-top: 10px;
        text-align: left;
    }
    .to-cart-overlay {
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: whitesmoke;
        border-radius: 0 0 5px 5px;
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        z-index: 94;
        padding: 0.5rem 1rem;
    }
}
@media(min-width: 769px){
    .to-cart-overlay{
        display: block;
    }
    .stores-list-wrapper,
    .countries-list-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    .stick-to-bottom{
        position: relative;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .terms-notice {
        margin-bottom: 4rem;
    }
    #footerStart{
        display: block !important;
    }
    /* .checkout-information {
        padding: 30px;
        margin: 1rem 0;
        border-radius: 5px;
    } */
    .product-card-wrapper {
        min-height: 300px;
    }
    .product-image {
        height: 200px;
    }
}
@media(min-width: 992px) {
    .filter-label {
        display: none !important;
    }
    .product-list-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.1rem;
    }
    .product-collection-wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 1rem;
    }
    .product-filters {
        border-right: 1px solid #ddd;
        padding-right: 15px;
    }
    .afquick-special-item {
        padding: 10px;
        min-height: 123px;
    }
    .select-filter-wrapper {
        margin-bottom: 10px;
    }
    .select-filter-wrapper select {
        width: 99%;
    }
}
